.img {
  display: block;
  width: 100%;
}

.section {
  width: 100%;
  overflow: hidden;
}

.article {
  /* display: flex;
  width: 200%; */
  animation: bannermove 40s linear infinite;
}

.article2 {
  /* display: flex;
  width: 200%; */
  animation: bannermove2 40s linear infinite;
}

.article.paused {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.div {
  width: 100%;
}

.ul {
  display: flex;
  background: red;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.li {
  width: 100%;
  background: blue;
}

.li:nth-child(2) {
  background: green;
}

.li:nth-child(3) {
  background: yellow;
}

@keyframes bannermove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes bannermove2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}
